

body {
 
    background-color: #faf0de;
}
 
h1 {
    font-size: 3rem;
    font-family: "Cookie", cursive;

}

.oa {
    font-size: 7rem;
    margin: 0;
    padding: 0;
    font-family: "Cookie", cursive;
}

.Qs {
    filter: invert(100%) sepia(243%) saturate(0%) hue-rotate(-21deg) brightness(0%) contrast(100%)
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Habibi", serif;
}

p,
h6 {
    font-size: 15px;
}

.con {
    position: relative;
    text-align: center;
}

.ov {
    overflow-x: clip;
    display: flow-root;

}

.tittle {

    position: absolute;
    top: 30%;
    left: 27%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    
}



.demo {
    text-align: center;


    background-color: rgba(18, 31, 56, 1);
    border: 2px solid #b84f3e;
    font-size: 30px;
    padding: 10px;

    color: #faf0de;
    animation: 0.5s;

}

.date {

    max-width: 100px;


}

.dt {
    display: flex;
    justify-content: center;
}

.tm {
    margin-left: 15%;
}


.nm h1 {

    margin-top: 40px;
}

.title {
    color: #faf0de;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.w3w {
    display: block;

    opacity: 0.1;
    position: absolute;
    width: 10%;
    left: 90%;
    top: 33%;
    z-index: 999999;
    filter: brightness(100%);


}

.fx {
    opacity: 0.1;
    position: fixed;
    width: 100%;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: -9999999;
}

@media screen and (max-width: 900px) {
    .fx {
        opacity: 0.1;
        position: fixed;
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -9999999;
    }


} 

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


@media screen and (max-width: 660px) {



    .tm {
        margin-left: 0%;

    }

    .title {
        color: #faf0de;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999999;
        font-size: 10px;
    }

    h1 {
        font-size: 80px;
    }

    .w3w {
        display: block;

        opacity: 0.1;
        position: absolute;
        width: 50%;
        left: 50%;
        top: 32%;
        z-index: 999999;
        filter: brightness(100%);


    }
    .ms{
        display: block;
    }





}
.sm{
    display: none;
}
@media screen and (min-width: 992px) {

    #carouselExample {
        display: none;
    }
   

}

@media screen and (max-width: 320px) {
.title h1{
    font-size: 3rem;
}
}
@media screen and (max-width: 992px) {

    .vbpc {
        display: none;
    }

    .dn {
        display: none;
    }

    .ms{
        display: none;
    }
    .sm{
        display: block;

        margin-bottom: 0px;
    }
    .kl{
        margin: 0px;
        padding: 0px;
    }



}

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 80px;
    }



}



.invit h1 {
    font-size: 70px;
}
.invit h2{
    font-size: 20px;
}


.invit {
    color: #b84f3e;
    position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}



.main-page{
    display: none;
    position: fixed;
    background-color: #faf0de;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999999999999999;
    text-align: center;
    padding: 0;
  
}

#preloader{
    background:#faf0de url(../img/loader.gif) no-repeat center center;
    background-size: 15%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999999;
}
